<% layout("layouts/boilerplate") %>
  <h1>new camp</h1>

  <form action="/campgrounds" method="POST">

    <label for="title">Camp Name : </label>
    <input type="text" name="campground[title]" id="title">
    <label for="city">Location : </label>
    <input type="text" name="campground[location]" id="location">
    <button>Submit</button>
    </form>
  
    <a href="/campgrounds">All campgrounds</a>
